<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/new/" method="post" enctype="multipart/form-data">
        <!-- help with id -->
        <label>Content: </label>
        <input type="text" name="content">
        <label>Name of Picture: </label>
        <input type="text" name="picName">
        <label>Upload Picture: </label>
        <input type="file" name="photo">
        <button>Submit Post: </button>
    </form>
</body>
</html>